@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, rgb(109, 58, 17) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.575) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgba(66, 6, 71, 0.493) 0, transparent 50%);
}

.gradient-bg-aboutcard {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, rgba(253, 238, 102, 0.459) 0, transparent 50%);
    
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgba(253, 238, 102, 0.459) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, rgba(255, 0, 0, 0.555) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgba(0, 0, 0, 0.178);
  border-radius: 16px;
  box-shadow: 0px 0px 30px  rgba(255, 255, 255, 0.493);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(240, 233, 233, 0.3);
 
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
}

.features {
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 2s;
}

span{
  
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-family: 'Times New Roman',serif;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: bold;
  background-image: linear-gradient(
   to right,
  #462523bd 0,
  #cb9b51 22%, 
  #f6e27a 45%,
  #f5ed7f 50%,
  #f6e27a 55%,
  #cb9b51 78%,
  #462523bd 100%
 );
  color:transparent;
  -webkit-background-clip:text;

}

.Ether-back {
  
  text-shadow: 5px 2px 10px #000000;
}

.border-clr{
  border-color: #cb9b51;
}

.btn-box {
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 0.6s;
}

.btn-box:hover {
  box-shadow: 0 0 5px #daa455e8,
  0 0 25px #daa455e8, 0 0 50px #daa455e8,
  0 0 100px #daa455e8, 0 0 200px #daa455e8;
}

.dec-ani {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.tag-ani {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
}


/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 90%;
  height: auto;

  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1.3s;
}

.eth-card {
  background-image: linear-gradient(
    to right,
    #462523bd 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f5ed7f 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523bd 100%
    );
  color:transparent;

  
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 0.6s, 2.1s;
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, rgb(255, 255, 255) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(253, 255, 114) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-company{
  border-color: #cb9b51;
}

.rotate-3d {
  animation: rotate 3s infinite linear;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


@keyframes slideTop {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }    
}

@keyframes slideRight {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }    
}

@keyframes slideLeft {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }    
}

@keyframes zoomIn {
  0% {
      opacity: 0;
      transform: scale(0);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-24px);
  }

  100%{
      transform: translate(0);
  }
}

@keyframes circleRotate {
  0% {
      transform: rotate(0);
  }
  
  100% {
      transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
